{% extends "layout.html" %}

{% block content %}
<div class="col-md-5 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped" id="todo_list">
        <thead>
            <th>#</th>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.user_id }}</td>
                    <td>
                        <a href="{{ url_for('todo', id=todo.id) }}">
                           {{ todo.description }}
                        </a>
                    </td>
                    <td>
                        {% if todo.completed %}
                            Done
                        {% else %}
                            Not Done
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                            <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="post" action="{{ url_for('todos_POST') }}">
                    <td colspan="4">
                        <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </td>
                    <td></td><td></td><td></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}