{% extends "layout.html" %}

{% block content %}
<div class="col-md-5 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Status</th><th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user }}</td>
            <td>{{ todo.description }}</td>
            <td>
                {% if todo.completed %}
                    Done
                {% else %}
                    Not Done
                {% endif %}
            </td>
            <td>
                <form method="post" action="/" id="todo_form">
                    <button type="submit" class="btn btn-xs btn-danger" title="Delete todo" id="todo_delete" data-url="{{ url_for('todo_delete', id=todo.id) }}">
                        <span class="glyphicon glyphicon-remove glyphicon-white"></span>
                    </button>
                    <button type="submit" class="btn btn-xs btn-info" title="Mark as done" id="todo_complete" data-url="{{ url_for('todo_complete', id=todo.id) }}">
                        <span class="glyphicon glyphicon-check glyphicon-white"></span>
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}